@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-red-hat-display: "Red_Hat_Display", sans-serif;
  --background: #FFFFFF;
  --body-text-color: #181818;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-red-hat-display), sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--body-text-color);
  background: var(--background);
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--body-text-color);
  max-width: 2560px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--body-text-color);
  outline: 1px solid var(--body-text-color);
}
